<!-- <div class="container">
  <div class="row">
    <div class="col col-xs-12"> -->
<table class="table table-sm table-responsive table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Position</th>
      <th scope="col">Status</th>
      <th scope="col">Contract</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Birth Date</th>
      <th scope="col">End Contract</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employer of employers">
      <th scope="row">{{ employer.id }}</th>
      <td>{{ employer.name }}</td>
      <td>{{ employer.email.slice(0, 10) + "..." }}</td>
      <td>{{ employer.phoneNumber.slice(4) }}</td>
      <td>{{ employer.position }}</td>
      <td>{{ employer.status }}</td>
      <td>{{ employer.contractType }}</td>
      <td>{{ employer.hireDate }}</td>
      <td>{{ employer.birthday }}</td>
      <td>{{ employer.endContract }}</td>
      <td>
        <button class="btn btn-sm btn-primary me-2" (click)="onEdit(employer)">
          Edit
        </button>
        <button class="btn btn-sm btn-danger" (click)="onDelete(employer)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="row mt-4 mb-2 text-center">
    <div class="col">
      <button type="button" (click)="openFormModal()" class="btn btn-dark">
        Add
      </button>
    </div>
  </div>
</div>

<!--form modal-->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ editMode ? 'Edit Employer' : 'Add Employer'}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="employerForm">
          <div class="row">
            <div class="col col-xs-12">
          <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="enter employer name" class="form-control" formControlName="name">
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <label for="email">Email Adress</label>
          <input type="text" id="email" placeholder="enter employer email" class="form-control" formControlName="email">
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" id="phoneNumber" placeholder="enter employer phone number" class="form-control" formControlName="phoneNumber">
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <select
            class="form-select"
            formControlName="position">
            <option value="" hidden disabled>Employer Position</option>
            <option value="RH">RH</option>
            <option value="MANAGER">Manager</option>
            <option value="JUNIOR">Junior Developper</option>
            <option value="SENIOR">Senior Developper</option>
          </select>
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <select
            class="form-select"
            formControlName="status">
            <option value="" hidden disabled>Employer Status</option>
            <option value="ON">ACTIVE</option>
            <option value="OFF">INACTIVE</option>
          </select>
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <select
            class="form-select"
            formControlName="contractType">
            <option value="" hidden disabled>Employer Contract Type</option>
            <option value="CDI">CDI</option>
            <option value="CDD">CDD</option>
            <option value="FREELANCE">Freelance</option>
          </select>
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <label for="hireDate">Hire Date</label>
          <input type="date" id="hireDate" class="form-control" formControlName="hireDate">
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <label for="endContract">Contract End Date</label>
          <input type="date" id="endContract" class="form-control" formControlName="endContract">
        </div>
        </div>
          </div>
          <div class="row">
            <div class="col col-xs-12">
        <div class="form-group">
          <label for="birthday">Birth Date</label>
          <input type="date" id="birthday" class="form-control" formControlName="birthday">
        </div>
        </div>
          </div>
        </form>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveSomeThing()" [disabled]="employerForm.invalid">
          {{editMode ? 'Update' : 'Save'}}
        </button>
      </div>
      </div>
    </div>
  </div>
</div>