<nav class="navbar navbar-expand navbar-expand-sm navbar-dark bg-primary d-flex justify-content-between p-0">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="" style="cursor: pointer" class="navbar-brand"
        >Alert System</a
      >
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="alerts" class="nav-link" routerLinkActive="active">
            Alerts
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="employers" class="nav-link" routerLinkActive="active"
          >Employers</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a
          style="cursor: pointer"
          class="nav-link"
          routerLink="add-alert"
          routerLinkActive="active">
          New Alert
        </a>
      </li>
    </ul>
  </div>
</nav>
