<!-- <div class="container">
  <div class="row">
    <div class="col col-xs-12"> -->
      <div class="container">
  <div class="row mt-4 mt-2">
    <div class="col col-xs-8">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="search here...">
      </div>
      </div>
      </div>
      <div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <app-spinner *ngIf="showSpinner"></app-spinner>
    </div>
  </div>
</div>
      <table class="table table-sm table-responsive table-hover table-striped me-2 mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Entity</th>
      <th scope="col">Criteria</th>
      <th scope="col">Criteria Val</th>
      <th scope="col">Attribute</th>
      <th scope="col">Attribute Val</th>
      <th scope="col">Day no</th>
      <th scope="col">Mode</th>
      <th scope="col">Dest</th>
      <th scope="col">Dest Val</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let alert of alerts | filter:searchText | paginate: {itemsPerPage: 7, currentPage: p};" >
      <th scope="row">{{alert.id}}</th>
      <td>{{ alert.entity === 'employer' ? 'emp' : alert.entity}}</td>
      <td>{{ alert.entityCriteria }}</td>
      <td>{{alert.entityCriteriaValue === 'ON' ? 'ACTIVE' : alert.entityCriteriaValue === 'OFF' ? 'INACTIVE' : alert.entityCriteriaValue=== '' ? '-' : alert.entityCriteriaValue}}</td>
      <td>{{alert.attribute}}</td>
      <td>{{alert.wantedAttributeValue === 'ON' ? 'ACTIVE' : alert.wantedAttributeValue === 'OFF' ? 'INACTIVE' : alert.wantedAttributeValue === '' ? '-' : alert.wantedAttributeValue}}</td>
      <td>{{alert.dayNumber === 0 ? '-' : alert.dayNumber}}</td>
      <td>{{alert.alertMode}}</td>
      <td>{{alert.destination ==='' ? '-' : alert.destination}}</td>
      <td>{{alert.destinationValue === 'ON' ? 'ACTIVE' : alert.destinationValue === 'OFF' ? 'INACTIVE' : alert.destination === '' ? '-' : alert.destination}}</td>
      <td><button class="btn btn-sm btn-primary me-2" routerLink="./{{alert.id}}/edit" routerLinkActive = "active">Edit</button>
      <button class="btn btn-sm btn-danger" (click)="onDelete(alert)">Delete</button></td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange) = "p = $event"></pagination-controls>